@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    --Green: hsl(75, 94%, 57%);
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: calc(100vh - 1px);
    background-color: var(--Off-Black);
}

.container img {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 0.4rem;
}

.container {
    background-color: var(--Dark-Grey);
    padding: 1.8rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-self: center;
    align-items: center;
    color: var(--White);
    gap: 0.8rem;
    border-radius: 0.3rem;
}

.container span {
    color: var(--Green);
    font-size: 14px;
    margin-bottom: 0.6rem;
    font-weight: 600;
}

.container a {
    text-decoration: none;
    color: var(--White);
    border: 0px solid hsl(0, 0%, 20%);
    padding: 0.5rem 1rem;
    background-color: var(--Grey);
    border-radius: 0.3rem;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.container p {
    font-size: 14px;
    margin-bottom: 0.6rem;
}

.container h1 {
    font-size: 24px;
}

a:hover {
    background-color: var(--Green);
    color: black;
    font-weight: 500;
}